/*
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;
*/
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #505050;
    padding-bottom: 60px;
}
/* header */
nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    padding: 0;
    background-color: #3a913f !important;
    height: 44px;
}
.navbar-light .navbar-brand {
    background-color: #000;
    min-width: 44px;
    padding: 0;
    text-align: center;
    height: 44px;
    margin: 0;
    line-height: 36px;
}
.header-title {
    display: block;
    position: absolute;
    left: 55px;
    color: #fff;
}
.header-title h3.title {
    font-size: 20px;
    padding: 0;
    line-height: 0;
    margin: 0;
    font-weight: bold;
}
.nav-pills .nav-link {
    font-size: 14px;
    font-weight: 500;
    height: 100%;
    letter-spacing: 0.4px;
    border-radius: 0;
    padding-top: 10px;
}
.container-fluid.main-container {
    padding-top: 15px;
}
li.nav-item {
    text-align: center;
    width: 23.9%;
}

ul.nav.nav-pills {
    background-color: #0077c8;
}
ul.nav.nav-pills {
    background-color: #0077c8;
    width: 100%;
    padding-left: 4%;
    min-height: 64px;
}
li.nav-item a {
    color: #fff;
}
.nav-pills .nav-link.active {
    background-color: #006298;
}
.tabs {
	margin-top: 10px;
}
.search-count-text {
	text-align: center;
	margin-top: 15px;
}
.card {
	-webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    border-radius: 0;
}
.card-heade.row {
    padding-top: 10px;
}
hr.divider {
    border-color: #bababa;
    margin: 0;
}
.college-name h4 {
    font-family: 'Roboto Slab', serif;
    font-size: 19px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 4px;
}
.col-7.college-name {
    padding-left: 5px;
}
.col-5.college-pic {
    padding-right: 0;
    margin-bottom: 10px;
}
.match-title p {
	background-color: #0077c8;
    color: #fff;
    text-align: center;
    line-height: 24px;
    font-size: 16px;
    font-family: 'Roboto Slab', serif;
}
.college-name p {
    color: #505050;
    font-size: 14px;
    margin-bottom: 10px;
    line-height: 18px;
}
.match-text p {
	text-align: center;
	width: 90%;
    font-size: 12px;
    line-height: 14px;
    color: #333333;
    margin: auto;
}
.match-text p .bold {
    font-weight: 700;
    font-size: 14px;
}
.card-statastics {
	text-align: center;
}
.card-heade i.fas.fa-plus-circle, .card-heade i.fas.fa-check {
    font-size: 20px;
}
.card-statastics{
	margin-top: 10px;
}
.card-statastics-icon {
	font-size: 28px;
}
.card-statastics.row p {
    font-size: 12px;
    line-height: 14px;
}
.card-match {
    border: 1px solid #e9e9e9;
    margin-bottom: 10px;
    padding-bottom: 12px;
}
.avrg-range p {
    white-space: nowrap;
    color: #702f8a;
    padding-top: 8px;
    font-size: 0.8rem;
}
/* Range bar style */
.range-bar {
	margin: auto;
	width: 100%;
	height: 10px;
	background-color: #d9d9d9;
}
.your-point {
	width: 5px;
	height: 10px;
	background-color: #0077c8;
	position: absolute;
	z-index: 2;
}
.avrg-range {
	height: 10px;
	background-color: #702f8a;
	position: absolute;
}
.tooltip-inner {
    background-color: #0077c8;
    font-weight: 900;
    font-size: 13px;
}
.tooltip-arrow,
.your-point + .tooltip > .tooltip-inner {background-color: #0077c8;}

.bs-tooltip-auto[x-placement^=top] .arrow::before, .bs-tooltip-top .arrow::before {
    border-top-color: #0077c8;
}
.match-range-cont {
    border-left: 1px solid #a8a8a8;
    height: 27px;
    border-right: 1px solid #a8a8a8;
    width: 90%;
    margin: auto;
    margin-top: 35px;
    padding-top: 8px;
}
.nav-item .nav-link input[type="radio"] {
    display: none;
}
.nav-item .nav-link input[type=radio]:checked + label {
    background-image: url(../img/radio-check.png);
    height: 16px;
    width: 16px;
}
.nav-item .nav-link input[type=radio] + label {
    background-image: url(../img/radio.png);
    width: 16px;
    height: 16px;
    display: block;
    margin: auto;
    margin-top: 4px;
}
.btn.add {
    width: 48px;
    font-size: 11px;
    border-radius: 0;
    padding: 6px;
    line-height: 16px;
    height: 48px;
    font-weight: 500;
}
button.btn.btn-outline-dark.add.added-btn {
    background-color: #308039;
    color: #fff;
    opacity: 1;
    border: 0;
    display: none;
}
.card-statastics.row p.amount {
    font-size: 19px;
    line-height: 30px;
    font-weight: 700;
    margin-bottom: 0;
}
.search-count-text p {
    font-size: 16px;
    color: #505050;
}
.search-count-text p .bold {
    font-weight: 700;
}
label.min-lim-num {
    margin: 0;
    float: left;
    margin-top: -30px;
}
label.max-lim-num {
    float: right;
    margin: 0;
    margin-top: -30px;
}
.filter-container .btn.btn-block {
    border-radius: 0;
    border-color: #888888;
    color: #505050;
    font-size: 16px;
    min-height: 48px;
}
.row-fluid.filter-container {
    margin-bottom: 14px;
}
.college-pic img {
    width: 100%;
}
.filter-container .btn.btn-block:hover, .filter-container .btn.btn-block:focus, .filter-container .btn.btn-block:active {
    background-color: #505050;
    color: #fff;
}

/* Filter popup modal style*/
.modal-open .modal {
    z-index: 1071;
}
.modal-title {
    line-height: 23px;
    font-size: 23px;
    font-weight: 700;
}
.modal-header .close {
    color: #1e1e1e;
    opacity: 1;
    font-size: 25px;
    padding: 0;
    margin: 0;
    margin-top: -8px;
}
.modal-header {
    padding: 1rem 0rem;
    width: 91%;
    margin: auto;
    border-bottom: 2px solid #1e1e1e;
}
.modal-body p.filter-title {
    font-size: 19px;
    line-height: 24px;
    font-weight: 700;
    color: #4a4a4a;
    margin-bottom: 10px;
}
.form-group label {
    font-size: 16px;
    line-height: 16px;
    color: #62625b;
}

select.form-control {
    border: solid 1px #d9d9d9;
    border-radius: 0;
    font-size: 14px;
    padding: 0px 16px;
    border-right: 0;
    color: #62625b;
    line-height: 44px;
    height: 48px;
    background: #ffffff url(../img/select-arrow.png) no-repeat scroll right center;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.modal .form-check input[type="checkbox"] {
    display: none;
}
.modal .form-check input[type=checkbox]:checked + label {
    background-image: url(../img/checked.png);
    height: 16px;
    width: 16px;
}
.modal .form-check input[type=checkbox] + label {
    background-image: url(../img/check.png);
    height: 16px;
    width: 16px;
    margin-bottom: -2px;
    margin-right: 3px;
}
.filter_box .primary_filter label>span, .primary_filter2 label>span {
    position: relative;
    top: -4px;
}
.modal .form-check {
    padding-left: 0;
}
.modal .filter-item {
    border-bottom: 1px solid #979797;
    margin-bottom: 17px;
    padding: 0px 29px;
}
.modal .form-group {
    margin-bottom: 20px;
}
.filter-item.school-size {
    border-bottom: 0;
    margin-bottom: 0px;
}
.filter-item.school-size .form-group {
    margin-bottom: 10px;
}
.modal-footer {
    border-color: #979797;
}
.modal-footer button.btn.btn-primary {
    background-color: #fedb00;
    width: 113px;
    height: 48px;
    border-color: #979797;
    border-radius: 0;
}
.modal-footer button.btn.btn-primary {
    background-color: #fedb00;
    width: 113px;
    height: 48px;
    font-size: 15px;
    border-color: #979797;
    border-radius: 0;
    line-height: 21px;
    font-weight: 700;
    color: #1e1e1e;
    font-family: 'Roboto Slab', serif;
    letter-spacing: 0.4px;
}
.modal-footer .clear-all-btn {
    font-size: 15px;
    line-height: 21px;
    font-weight: 700;
    color: #505050;
    font-family: 'Roboto Slab', serif;
    letter-spacing: 0.4px;
    text-decoration: underline !important;
}

/* College list logo */
.cl-logo {
    text-align: center;
}
.list-header-text {
    text-align: center;
    padding: 0px 5px;
}
.list-header-text .title {
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 27px;
    line-height: 30px;
    margin-bottom: 16px;
}
.list-header-text .earn {
    font-weight: 700;
    font-size: 22px;
}
.list-header-text p.earn-txt {
    font-size: 18px;
    line-height: 24px;
}
.list-header-text p.kepp-up {
    font-weight: 700;
    font-size: 18px;
}
.selection-button-div {
    border-top: 4px solid #338037;
    text-align: center;
    padding-top: 10px;
    width: 98%;
    margin: auto;
}
.reach0 {
    background-image: url(../img/reach0.png);
    height: 16px;
    width: 55px;
}
.reach1 {
    background-image: url(../img/reach1.png);
    height: 16px;
    width: 55px;
}
.reach2 {
    background-image: url(../img/reach2.png);
    height: 16px;
    width: 55px;
}
.reach3 {
    background-image: url(../img/reach3.png);
    height: 16px;
    width: 55px;
}
.match0 {
    background-image: url(../img/match0.png);
    height: 16px;
    width: 35px;
}
.match1 {
    background-image: url(../img/match1.png);
    height: 16px;
    width: 35px;
}
.match2 {
    background-image: url(../img/match2.png);
    height: 16px;
    width: 35px;
}
.safetly0 {
    background-image: url(../img/safety0.png);
    height: 16px;
    width: 35px;
}
.safety1 {
    background-image: url(../img/safety1.png);
    height: 16px;
    width: 16px;
}
.row.selection-button-div {
    text-align: center;
}
.college-type-div p.type {
    margin: 0;
    font-weight: 700;
}
.college-type-div p.clg {
    margin-bottom: 5px;
    font-weight: 500;
}
p.based-on {
    width: 100%;
    border-bottom: 1px solid #cfcfcf;
    border-top: 1px dashed #cfcfcf;
    padding: 5px 0px;
}
p.based-on .bold {
    font-weight: 700;
}
p.based-on img {
    margin-top: -2px;
}
a.btn.btn-yellow {
    background-color: #FEDB00;
    font-family: 'Roboto Slab', serif;
    margin: auto;
    border-radius: 0;
    font-weight: 700;
    width: 100%;
    margin-top: 5px;
    border: 1px solid #979797;
    line-height: 33px;
    height: 50px;
}
a.btn.btn-gray {
    background-color: #cfcfcf;
    font-family: 'Roboto Slab', serif;
    margin: auto;
    border-radius: 0;
    font-weight: 700;
    width: 100%;
    margin-top: 15px;
    border: 1px solid #979797;
    height: 50px;
}
.clg-lst-ttle {
    color: #fff;
    background-color: #0077c8;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    margin-top: 35px;
    display: block;
    line-height: 27px;
}
.college-list-cont .college-type-div {
    text-align: center;
    display: block;
    border-top: 3px solid #0077c8;
    padding-top: 4px;
}
.college-list-cont .college-type-div label {
    margin-bottom: 0px;
}
.college-list-cont .college-type-div .choose-more {
    font-weight: 700;
    font-size: 12px;
    margin-top: -4px;
}
a.btn.btn-white {
    background-color: #fff;
    font-family: 'Roboto Slab', serif;
    margin: auto;
    border-radius: 0;
    font-weight: 700;
    width: 100%;
    margin-top: 24px;
    border: 1px solid #979797;
    height: 50px;
    line-height: 33px;
}
.clg-lst-ttle p {
    margin-bottom: 0;
    font-size: 14px;
    letter-spacing: 0.5px;
}
.row-fluid.college-list-cont {
    padding-bottom: 48px;
}
p.choose-more.have-college {
    color: #308039;
}
.reach-college .row.college-type-div {
    border: 0;
    padding-top: 0;
}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #fff;
   color: white;
   text-align: center;
   z-index: 2100;
   -webkit-box-shadow: 0px -5px 9px 0px rgba(62,62,62,0.3);
    -moz-box-shadow: 0px -5px 9px 0px rgba(62,62,62,0.3);
    box-shadow: 0px -5px 9px 0px rgba(62,62,62,0.3);
    height: 60px;
}
.my-clg-lst {
    -webkit-box-shadow: 1px 1px 2px 1px rgba(62,62,62,0.3);
    -moz-box-shadow: 1px 1px 2px 1px rgba(62,62,62,0.3);
    box-shadow: 1px 1px 2px 1px rgba(62,62,62,0.3);
    border-radius: 20px;
    margin: auto;
    margin-top: 10px;
    padding: 6px 18px;
}
.my-clg-lst span.list-count {
    background-color: #3e3e3e;
    border-radius: 20px;
    padding: 2px 7px;
    color: #fff;
}
button.btn.btn-light.bell-button {
    float: right;
    font-size: 24px;
    padding: 0;
    position: absolute;
    right: 20px;
    top: 12px;
}
@media (max-width: 320px) { 
.col-3.add-btn-cont {
    padding-left: 10px;
}
.card-statastics .col-4 {
    padding: 0px 14px;
}


}
